<div class="container">
  <div class="display-part" #displaypart [ngStyle]="{'margin-left.px': (displayMarginLeft | async)}">
    <div #header class="header">
      <div class="title">
        <p>Water</p>
        <p class="tilda">~</p>
        <img src="/assets/images/5.svg">
        <p>Garden</p>
        <img src="/assets/images/5.svg" class="second-eye">
      </div>
      <div class="subtitle">
        <p>click ~ for ~ sound!</p>
      </div>
    </div>
    <div *ngFor="let i of rows" class="drops-column">
      <div *ngFor="let j of columns" class="drops-row">
        <app-drop
          [ngStyle]="{'width.px': dropWidth, 'margin-right.px': dropRightMargin, 'margin-bottom.px': dropBottomMargin}"
        ></app-drop>
      </div>
    </div>
  </div>
</div>
