@font-face {
  font-family: absara;
  src: url('/assets/fonts/Absara-MediumItalic.otf') format("opentype");
}

@font-face {
  font-family: helvetica;
  src: url('/assets/fonts/Helvetica46LightItalic_22438.ttf') format("truetype");
}

.container, .display-part {
  min-height: 100% !important;
  height: 100% !important;
}

:host {
  min-height: 100% !important;
  height: 100% !important;
  display: block;
}

.title {
  display: flex;
  margin: 0;
}

.title p {
  font-family: absara, sans-serif;
  font-size: 32pt;
  margin: 0 4px 0 0;
}

.title img {
  width: 40px;
  margin-right: 5px;
}

.subtitle {
  display: flex;
  margin: 0;
  position: absolute;
  top: 46px;
  left: 45px;
  padding: 15px 4px 8px 4px;
  background: white;
}

.second-eye {
  display: none;
}

.subtitle p {
  font-family: helvetica, sans-serif;
  font-style: italic;
  font-size: 16pt;
  margin: 0;
}

@media screen and (min-aspect-ratio: 2/3) {
  .header {
    flex-flow: row;
  }

  .title p {
    font-size: 28pt;
    margin: 0 16px 0 0;
  }

  .tilda {
    display: none;
  }

  .second-eye {
    display: block;
  }

  .title img {
    width: 40px;
    margin-right: 16px;
  }

  .subtitle {
    display: flex;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 4px;
  }

  .subtitle p {
    font-size: 20pt;
    margin: 0 12px 0 4px;
  }
}

.header {
  background-color: white;
  position: absolute;
  display: flex;
  flex-flow: row;
  flex-shrink: 1;
  align-items: flex-end;
  height: 40px;
  padding-bottom: 10px;
}

.container {
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 100%;
}

.display-part {
  display: flex;
  min-height: 100%;
  width: 100%;
  margin: 22px;
}

.drops-column {
  display: flex;
  flex-direction: column;
}

.drops-row {
  display: flex;
  flex-direction: row;
}

app-drop {
  display: flex;
}
